[% WRAPPER 'include/layout.tt' %]

[% IF c().form().has_error %]
    [% FOREACH msg IN c().form().messages(action) %]
    <p>[% msg %]</p>
    [% END %]
[% END %]

[% IF c().form().has_error %]
<ul>
    [% FOREACH key IN c().form().error %]
        [% FOREACH type IN c().form().error(key) %]
        <li>invalid: [% key %] - [% type %]</li>
        [% END %]
    [% END %]
</ul>
[% END %]

[% END %]

